$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-color: #444;
$sidebar-bg-color: rgba(255,255,255,.8);
$btn-color:#e0eeff;
$btn-border-color:#bdf;
$sidebar-width:280px;
$sidebarpadding:20px;