/* note, this technique was adapted from a blog, I may have to track it down once again to check license...
or I'll just create my own version from scratch */
.toggle {
  position: relative;
  display: inline-block;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 2px; }

.toggle-checkbox {
  display: none; }

.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 18px;
  box-shadow: 0 0 3px white; }

.toggle-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.toggle-inner:before, .toggle-inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  font-size: 16px;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.toggle-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #88c3ff;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  text-shadow: 0px 0px 3px #000; }

.toggle-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: rgba(222, 222, 222, 0.5);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #666666;
  text-align: right;
  text-shadow: -1px 0px 2px #dddddd, 1px 1px 1px rgba(0, 0, 0, 0.1); }

.toggle-switch {
  width: 36px;
  height: 36px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #888;
  box-shadow: 0px 0px 7px rgba(0, 0, 100, 0.2);
  border-radius: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 51px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); }

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  margin-left: 0; }

.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: 0px; }
