@import url(http://fonts.googleapis.com/css?family=Lato:100);

body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
	background-color:#f5f5f5;
	color: #333;
    font-size:120%;

}

#container{
    max-width:800px;
    margin: auto;
    display:block;
}

h1{
	font-family: Lato, 'Lato', sans-serif;
	font-weight:100;
	font-size:80px;
	line-height:80px;
	color:#222;
	margin-top:10px;
	margin-bottom:-10px;
	text-align:center;
}

h2{
    font-size:39px;
    font-weight:bold;
    text-align:center;
    margin-top:10px;
	margin-bottom:10px;
}

h3{
    font-size:24px;
    font-weight:bold;
    text-align:center;
    margin-top:10px;
	margin-bottom:10px;
}

h4{
    font-size:18px;
    font-weight:bold;
    margin: auto;
    width: 90%;
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: auto;
	height: 0;
    width:90%;
    margin-top:8px;
    margin-bottom:25px;
}

img.team-photo{
    margin: 20px;
    width: 300px;
    display:block;
    border-radius:6px;

}

p{
 width:90%;
    margin:auto;
    margin-bottom: 24px;
    line-height: 1.35;
}

li{
    width: 90%;
    margin:auto;
    line-height: 1.35;
}

table{
    margin: 0 auto;
}

button.btn {
  line-height: 20px;
  padding: 7px 15px 7px 15px;
  font: 18px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  border: 3px solid #bbddff;
  border-radius: 6px;
  cursor: pointer;
  background-color: #e0eeff;
  color: #444444;
  outline: none;
  z-index: 3;
  transition: all 0.1s ease;
}

#back {
  margin: auto;
  display: block;
    margin-bottom:50px;
}

button.btn:hover {
  border-color: #a2d0ff;
  background-color: #c6e0ff;
  color: #111111;
}

figcaption {
    text-align: center;
}

dt {
    font-weight: bold;
}

dd {
    background: none no-repeat left top;
    padding-left: 30px;
}

.title_left {
    color: #999;
}

.seomwrapper {
  overflow:hidden;
}

.seomwrapper div {
   min-height: 200px;
}
#seomone {
  float:left;
  margin-right:4%;
  width:48%;
}
#seomtwo {
  overflow:hidden;
  margin: 0px;
  min-height:150px;
  width:48%;
}

@media screen and (max-width: 400px) {
   #seomone {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;
  }

  #seomtwo {
    width:auto;
  }
}

a {
    text-decoration: none;
}

.contact {
    text-align: right;
}

.contact_name {
    float: left;
}




