{% load staticfiles %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />

<title>About Seacast</title>

<link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css"/>



</head>
<body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57018273-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
    function goBack() {
        window.history.back()
    }
</script>


<div id="container">
<h2>About</h2>

<h1><span class="title_left">Seacast</span></h1>
<hr />

<p>
    Seacast delivers an easy-to-use interface for Oregon coastal fishermen that shows sea conditions and projections for a three day period. The projections are determined using models provided by Oregon State University's College of Earth, Ocean, and Atmospheric Sciences (CEOAS).
</p>

<h3>State of Release</h3>

<p>
    This alpha of Seacast is an early release of work-in-progress for demonstration purposes. The release is targeted for those involved with development, alpha-testers, and Expo visitors. This release is <i>not</i> intended for end users in need of data for safety, commercial, or other purposes at this time.
</p>

<h3>Model Notes</h3>
<p>
    The models for Seacast have been provided by CEOAS. The following are of note:

    <h4>Sea Surface Temperature Model</h4>
    <ul>
        <li>Model designed by Dr. Kurapov</li>
    </ul>

    <h4>Current Model</h4>
    <ul>
        <li>Model designed by Dr. Kurapov</li>
    </ul>
</p>

 <!--
    <h3>Who is the Seacast team?</h3>


<div class="seomwrapper">
    <div id="seomone">
        <figure>
        <img src="{% static 'imgs/duncan.jpg' %}" class="team-photo" alt="Colin Duncan"></img>
        <figcaption>Project Client: Colin Duncan</figcaption>
        </figure>
    </div>
    <div>
        <figure>
        <img src="{% static 'imgs/dev_team.jpg' %}" class="team-photo"></img>
        <figcaption>Development Team: Kevin Rich, Austin Valeske, Ryan Phillips</figcaption>
        </figure>
    </div>
</div>
-->
<h3>Contact</h3>

<h4>Project Client</h4>
<div class="contact">
<p><span class="contact_name">Flaxen Conway</span><a href="mailto:fconway@coas.oregonstate.edu?Subject=Seacast" target="_top">fconway@coas.oregonstate.edu</a></p>
</div>



    <h4>2013: Version 1 Development Team</h4>
    <p>Seacast started in 2013 as an EECS Capstone project. Austin Valeske continued to work on the project throughout 2014 to prepare it for the new development team.</p>

    <p>Austin Valeske</p>
      <p>Ryan Phillips</p>
      <p>Kevin Rich</p>


    <h4>2014: Version 2 Development Team</h4>
    <p>The Seacast project is currently being developed by a second Capstone team, who will build upon the previous version.</p>
  <div class="contact">
    <p><span class="contact_name">Maria Powell</span><a href="mailto:weberma@onid.oregonstate.edu?Subject=Seacast" target="_top">weberma@onid.oregonstate.edu</a></p>
    <p><span class="contact_name">Reed Hamilton</span><a href="mailto:hamiltor@onid.oregonstate.edu?Subject=Seacast" target="_top">hamiltor@onid.oregonstate.edu</a></p>
    <p><span class="contact_name">Bethany Carlson</span><a href="mailto:carlsbet@onid.oregonstate.edu?Subject=Seacast" target="_top">carlsbet@onid.oregonstate.edu</a></p>
  </div>


    <!-- TODO this needs to be a hard link, not just a goBack: people might access this page directly, or via a
    new tab.-->
    <button id="back" class="btn" onclick="goBack()">Back to Seacast</button>

</div>
</body>
</html>
