{% load staticfiles %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />

<title>About Project SharkEyes</title>

<link href="{% static '/static_files/css/about.css' %}" rel="stylesheet" type="text/css"/>



</head>
<body>
<script>
    function goBack() {
        window.history.back()
    }
</script>

<div id="container">
<h2>About</h2>

<h1><span class="title_left">Shark</span><span>Eyes</span></h1>
<hr />


<p>
    Project SharkEyes delivers an easy-to-use interface for Oregon coastal fishermen that shows sea conditions and projections for a three day period. The projections are determined using models provided by Oregon State University's College of Earth, Ocean, and Atmospheric Sciences (CEOAS).
</p>

<h3>State of Release</h3>

<p>
    This alpha of Project SharkEyes is an early release of work-in-progress for demonstration purposes. The release is targeted for those involved with development, alpha-testers, and Expo visitors. This release is <i>not</i> intended for end users in need of data for safety, commercial, or other purposes at this time.
</p>

<h3>Model Notes</h3>
<p>
    The models for Project SharkEyes have been provided by CEOAS. The following are of note:
    <dl>
        <dt>Salinity Model</dt>
        <dd>- This model was designed by Mr. Kuparov.</dd>
        <dd>- Data shown for the Columbia river is inaccurate and should be used for demonstration purposes only</dd>
    </dl>
</p>

<h3>Who is Project Shark Eyes?</h3>

<div class="seomwrapper">
    <div id="seomone">
        <figure>
        <img src="http://ceoas.oregonstate.edu/people/photos/duncanc.jpg" class="team-photo" alt="Colin Duncan"></img>
        <figcaption>Project Client: Colin Duncan</figcaption>
        </figure>
    </div>
    <div>
        <figure>
        <img src="http://eecs.oregonstate.edu/capstone/posterphotos/P1020536.JPG" class="team-photo"></img>
        <figcaption>Development Team: Kevin Rich, Austin Valeske, Ryan Phillips</figcaption>
        </figure>
    </div>
</div>

<h3>Contact:</h3>
<div class="contact">
<p><span class="contact_name">Colin Duncan:</span><a href="mailto:duncancol@onid.oregonstate.edu?Subject=Project%20SharkEyes%Site" target="_top">duncancol@onid.oregonstate.edu</a></p>
<p><span class="contact_name">Ryan Phillips:</span><a href="mailto:philliry@onid.oregonstate.edu?Subject=Project%20SharkEyes%Site" target="_top">philliry@onid.oregonstate.edu</a></p>
<p><span class="contact_name">Kevin Rich:</span><a href="mailto:richk@onid.oregonstate.edu?Subject=Project%20SharkEyes%Site" target="_top">richk@onid.oregonstate.edu</a></p>
<p><span class="contact_name">Austin Valeske:</span><a href="mailto:avaleske@onid.oregonstate.edu?Subject=Project%20SharkEyes%Site" target="_top">avaleske@onid.oregonstate.edu</a></p>
</div>


    <button id="back" class="btn" onclick="goBack()">Back to SharkEyes</button>

</div>
</body>
</html>
