{% load staticfiles %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />

<title>About Project SharkEyes</title>

<link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div id="container">
<h2>About</h2>

<h1><font color="#999">Shark</font> Eyes</h1>
<hr></hr>
    
<p>
    Project SharkEyes delivers an easy-to-use interface for Oregon coastal fishermen that shows sea conditions and modeled projections
</p>

<h3>State of Release</h2>

<p>Alpha and all that. Maecenas pharetra sapien sit amet arcu aliquam aliquet. Maecenas varius pellentesque diam, vel elementum mauris semper in. Integer non turpis eget risus lacinia feugiat dictum at sem.</p>
    
<h3>Origin of Models</h2>

    <p>Nunc sed est quis magna consequat vulputate vitae sed lectus. Suspendisse condimentum quam quis mi ullamcorper, vel sagittis tellus laoreet.</p>    
    
<h3>Who is Project Shark Eyes?</h2>    
    
    <table>
        <tr>
            <td>
                <figure>
                <img src="http://eecs.oregonstate.edu/capstone/posterphotos/P1020536.JPG" class="team-photo"></img>
                <figcaption>Development Team: Kevin Rich, Austin Valeske, Ryan Phillips</figcaption>
                </figure>
            </td>
            <td>
                <figure>
                <img src="http://ceoas.oregonstate.edu/people/photos/duncanc.jpg" class="team-photo" alt="Colin Duncan"></img>
                <figcaption>Project Client: Colin Duncan</figcaption>
                </figure>
            </td>
        </tr>
    </table>

    <p>A little about us, maybe some contact info? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed est quis magna consequat vulputate vitae sed lectus.
    </p>
    
    
    <button id="back" class="btn">Back to SharkEyes</button>
    
    </div>
</body>
</html>