    <button id="sidebar-left-btn" class="btn left arrow-left">◄ Hide</button>

    <div class="sidebar left" id="sidebar-left">



        <h2>Forecast Date/Time</h2>

        <select id ="date-time">
          {% for item in times %}
          <option value="{{forloop.counter0}}">{{ item }}</option>
          {% endfor %}
        </select>

        <h2>Map Data Layers</h2>

      <table>

        {% for item in defs %}
        <tr id="{{ item.function_name }}" class="option overlay-toggle">
          <td class="col-one">{{ item.display_name_long }}</td>
          <td class="col-two">
            <div class="toggle">
         <!--     <input type="checkbox" class="toggle-checkbox" id="t1"/>  -->
                <input type="checkbox" class="toggle-checkbox" id="{{ item.function_name }}"/>
                <!--TODO set the id to be unique, not "t1": one ID for each toggle so we can access them individually-->
              <label class="toggle-label" for="{{ item.function_name }}">
              <div class="toggle-inner"></div>
              <div class="toggle-switch"></div>
              </label>
            </div>
          </td>
        </tr>
        {% endfor %}

        <!-- more overlays to come... -->
      <!--
        <tr class="disabled">
          <td class="col-one">Wave Height</td>
          <td class="col-two">
            <div class="toggle toggle-disabled">
              <input type="checkbox" class="toggle-checkbox-disabled" id="t1" disabled></input>
              <label class="toggle-label" for="t1">
              <div class="toggle-inner"></div>
              <div class="toggle-switch"></div>
              </label>
            </div>
          </td>
        </tr>

        <tr class="disabled">
          <td class="col-one">Chlorophyll</td>
          <td class="col-two">
            <div class="toggle toggle-disabled">
              <input type="checkbox" class="toggle-checkbox-disabled" id="t1" disabled></input>
              <label class="toggle-label" for="t1">
              <div class="toggle-inner"></div>
              <div class="toggle-switch"></div>
              </label>
            </div>
          </td>
        </tr>
-->
      </table>

        <h2>Options</h2>

    <table>

        <tr id="latlong-toggle" class="option">
          <td class="col-one">Lat/Long Lines</td>
          <td class="col-two">
            <div class="toggle toggle">
              <input type="checkbox" class="toggle-checkbox" id="t1"></input>
              <label class="toggle-label" for="t1">
              <div class="toggle-inner"></div>
              <div class="toggle-switch"></div>
              </label>
            </div>
          </td>
        </tr>
    </table>

        <h2>Cursor Coordinates:</h2>

    <table>
        <tr>
            <td class="col-one">Lat:</td>
            <td class="col-two">
                <div id="coords-lat" class="coords"></div>
            </td>
        </tr>
            <td class="col-one">Long:</td>
            <td class="col-two">
                <div id="coords-long" class="coords"></div>
            </td>
        <tr>
    </table>

    <table>
        <tr>
            <td class="col-one"><a href="{% url "SharkEyesCore.views.about" %}" target="_self">About</a></td>
        </tr>
        <tr>
            <td class="col-one"><button id="feedback_button">Feedback Comment</button></td>
        </tr>
        <tr>
            <td class="col-one"><a href="{% url "SharkEyesCore.views.survey" %}" target="_self">Feedback Survey</a></td>
        </tr>
    </table>
	
	<table>
		<tr>
			<td class="col-one"><b>Note: Key for the knots of the current vectors is estimated.</b></td>
		</tr>
        <tr></tr>
        <!-- This is for the feedback pop up window -->
        <tr><div id="dialog">
            Subject: <br/><textarea rows="1" cols="35" id="feedback_title" onclick="feedback_click()"></textarea><br/>
            Comment: <br/><textarea rows="5" cols="35" id="feedback_comment" onclick="feedback_click()"></textarea>
        </div></tr>
        <tr>
        </tr>
        <tr></tr>
        <tr></tr>
	</table>

    </div>
