    <button id="sidebar-left-btn" class="btn left arrow-right">Menu</button>

    <div class="sidebar left clicked" id="sidebar-left">
      <button id="advanced" class="btn">advanced</button>
      <table>
        {% for item in overlays %}
        <tr id="o{{ forloop.counter0 }}">
          <td class="col-one">{{ item.display_name_long }}</td>
          <td class="col-two">
            <div class="toggle">
              <input type="checkbox" class="toggle-checkbox" id="toggle1"></input>
              <label class="toggle-label" for="toggle1">
              <div class="toggle-inner"></div>
              <div class="toggle-switch"></div>
              </label>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      <div id="coords-lat">lat?</div>
      <div id="coords-lon">lon?</div>
    </div> 