{% load staticfiles %}

<script>

/* a little redundant grabbing this for both js script ? */
var overlayList = [
{% for item in overlays %}
"{{item.function_name}}",
{% endfor %}
];


$('#sidebar-left').css("display","none"); //init
$('#sidebar-left-btn').on('click', function() {

    if (! $('#sidebar-left').hasClass('clicked')){
        //ensures that we get that click realesate back -
        //since the ani doesn't fully move the sidebar offscreen
        $('#sidebar-left').toggleClass('clicked').delay(200).queue(function(next){
            $('#sidebar-left').css("display","none");
            next();
        });
    } else {
        $('#sidebar-left').show().toggleClass('clicked');
};


$('#sidebar-left-btn').toggleClass('arrow-left');
$('#sidebar-left-btn').toggleClass('arrow-right');
$(this).text(function(i, text){
    return text === "Hide" ? "Menu" : "Hide";})
});

/* make toggle switch associated labels also work as click targets (by using the whole 'tr') */
$("tr").click(function() {
    var checkBoxes = $(this).find('.toggle-checkbox');
    checkBoxes.prop("checked", !checkBoxes.prop("checked"));
});

$(".toggle-checkbox").click(function(e) { //fixing the duplex clicked issue
    return false;
});

// init
var states = [];
for (i in overlayList){ states[i] = false; }
$('#o0 .toggle-checkbox').prop("checked", true);
states[0] = true;
//$("#key-img").attr("src","{% static 'keys/'%}"+"salt_function"+"_key.png");

{% for item in overlays %}

    $("#o{{ forloop.counter0 }}").click(function() {

        if (states[{{ forloop.counter0 }}]){ //state = true for this row

            if (map.overlayMapTypes.j[0]){ //check for existance

                map.overlayMapTypes.removeAt(0);

            }

        } else { //state = false for this row

            map.overlayMapTypes.insertAt(0,layers[{{ forloop.counter0 }}]);

            //update key
            $("#key-img").attr("src","{% static ''%}"+"{{item.key}}");

        }

        //update states
        states[{{ forloop.counter0 }}] = !states[{{ forloop.counter0 }}];

    });
{% endfor %}

</script>
