{% load staticfiles %}

<script>

var keys = [
{% for item in overlays %}
"{{item.key}}",
{% endfor %}
];


$('#sidebar-left').css("display","none"); //init
$('#sidebar-left-btn').on('click', function() {

    if (! $('#sidebar-left').hasClass('clicked')){
        //ensures that we get that click realesate back -
        //since the ani doesn't fully move the sidebar offscreen
        $('#sidebar-left').toggleClass('clicked').delay(200).queue(function(next){
            $('#sidebar-left').css("display","none");
            next();
        });
    } else {
        $('#sidebar-left').show().toggleClass('clicked');
};


$('#sidebar-left-btn').toggleClass('arrow-left');
$('#sidebar-left-btn').toggleClass('arrow-right');
$(this).text(function(i, text){
    return text === "Hide" ? "Menu" : "Hide";})
});

/* make toggle switch associated labels also work as click targets (by using the whole 'tr') */
$("tr").click(function() {
    var checkBoxes = $(this).find('.toggle-checkbox');
    checkBoxes.prop("checked", !checkBoxes.prop("checked"));
});

$(".toggle-checkbox").click(function(e) { //fixing the duplex clicked issue
    return false;
});


//state machine
var states = [];
for (i in keys){ states[i] = false; }

//lat long line toggle
$('#latlong-toggle .toggle-checkbox').prop("checked", true); //show on load
$("#latlong-toggle").click(function(e) {
    var temp = $(this).find('.toggle-checkbox');
    if (temp.prop("checked")){
        grid.show();
    } else {
        grid.hide();
    }
});

//using a stack for the key

$('#o0 .toggle-checkbox').prop("checked", true);
states[0] = true;
{% for item in overlays %}
    {% if forloop.first %}
        $("#key-img").attr("src","{% static ''%}"+"{{item.key}}");
        $("#key-img").show();{% else %}
    {% endif %}
    $("#o{{ forloop.counter0 }}").click(function() {
        if (states[{{ forloop.counter0 }}]){ //state = true for this row
            if (map.overlayMapTypes.j[{{ forloop.counter0 }}]){ //check for existance

                //hackish check to see if we hide the last overlay, then we remove key, too.
                num_visible = 0;
                last_visible = 0
                for (i in states){
                    if (states[i]) num_visible += 1;
                    last_visible = i;
                }
                if (num_visible == 1){
                    $("#key-img").attr("src","");
                    $("#key-img").hide();
                } else{
                    console.log(keys,last_visible);
                    console.log(keys[last_visible]);
                    $("#key-img").attr("src","{% static ''%}"+keys[last_visible-1]);
                    $("#key-img").show();
                }

                map.overlayMapTypes.removeAt({{ forloop.counter0 }});
                map.overlayMapTypes.insertAt({{ forloop.counter0 }}, place_holder);


            }

        } else { //state = false for this row

            map.overlayMapTypes.removeAt({{ forloop.counter0 }});
            map.overlayMapTypes.insertAt({{ forloop.counter0 }},layers[{{ forloop.counter0 }}]);

            $("#key-img").attr("src","{% static ''%}"+"{{item.key}}");
            $("#key-img").show();


        }

        //update states
        states[{{ forloop.counter0 }}] = !states[{{ forloop.counter0 }}];

    });
{% endfor %}

</script>
