{% load staticfiles %}

<script>

/* a little redundant grabbing this for both js script ? */
var overlayList = [
 {% for item in overlays %}
"{{item.function_name}}",
 {% endfor %}
 ];

$('#sidebar-left-btn').on('click', function() {

        if (! $('#sidebar-left').hasClass('clicked')){
      $('#sidebar-left').toggleClass('clicked').delay(200).queue(
          function(next){
          $('#sidebar-left').css("display","none");
          next();
          });
      }else{
          $('#sidebar-left').show().toggleClass('clicked');
      }


      $('#sidebar-left-btn').toggleClass('arrow-left');
      $('#sidebar-left-btn').toggleClass('arrow-right');
      $(this).text(function(i, text){
        return text === "Hide" ? "Menu" : "Hide";
    })
  });




  /* make toggle switch associated labels also work as click targets (by using the whole 'tr') */
  $("tr").click(function() {
      var checkBoxes = $(this).find('.toggle-checkbox');
      checkBoxes.prop("checked", !checkBoxes.prop("checked"));

  });


// stupid checkbox registering click twice bug
/* explanation: i wanted the whole TR to be the click target, so this event is sent to the checkbox..
 but if the tr over the checkbox is clicked, we get two click events */
 /*
$('.toggle').click(function(e) {
    false;
}); */


  var states = [];
  for (i in overlayList){ states[i] = false; }

    /* check first one on -> on load */
    $('#o0 .toggle-checkbox').prop("checked", true);
  states[0] = true; /* just turning the first overlay on as default */


    console.log(states);

 {% for item in overlays %}
$("#o{{ forloop.counter0 }}").click(function() {


    console.log('clicked')


              if (states[{{ forloop.counter0 }}]){

                if (map.overlayMapTypes.j[{{ forloop.counter0 }}]){ //check for existance

                   map.overlayMapTypes.removeAt({{ forloop.counter0 }});

                   //layers[{{ forloop.counter0 }}].setMap(null);
                   //map.overlayMapTypes.j[0].setMap(null);
               }

              } else {
                  console.log('inserted?');
                  map.overlayMapTypes.insertAt({{ forloop.counter0 }},layers[{{ forloop.counter0 }}]);
              }

              states[{{ forloop.counter0 }}] = !states[{{ forloop.counter0 }}];





  });
 {% endfor %}



  </script>
